body
{
    font-family: 'Numans', Arial, sans-serif;
    color: #05326D;
    background-color: #eeeeee;
}
a {
    text-decoration: none;

}
#container
{
	margin: auto;
	/*position: absolute;
	left: 100px; */
}

#header
{
	height:30px;
	background-color: #0772A1;
	font-family: Arial, sans-serif;
}

#logo
{
    background-color: #eeeeee;

}
#logged-in-as
{
	font-size: 20px;
    padding: 10px;
}

#login
{
    padding: 10px;
}

#logout
{
	font-size: 20px;
}
#header-right span
{
    border-width: 100px;
}

#header-right
{
	float: right;
}
#header-left
{
	float: left;
}

.table-row
{
	background-color: #63AFD0;
}

.edit-button
{
    color: #05326D;
    background-color: #eeeeee;
    font-family: 'Numans', Arial, sans-serif;
    border-radius: 5px;
    margin: 0;
    border: 0;

}

.del-button
{
    color: #05326D;
    background-color: #eeeeee;
    font-family: 'Numans', Arial, sans-serif;
    border-radius: 5px;
    margin: 0;
    border: 0;

}

table
{
	border-spacing: 0 5px;
}

#menu
{
    text-align: center;
    margin: auto;
}

.menu-item
{
    list-style: none;
    display: inline;
    background-color: #3BA3D0;
    border-radius: 5px;
    padding: 10px;
    color: #eeeeee;

}
.menu-item a:visited {
    color: #eeeeee;
}
.menu-item-bottom
{
    list-style: none;
    display: inline;
}

a
{
    text-decoration: none;
}

#bottom
{
    text-align: center;
}

#bottom ul
{
    display: inline;]
    list-style: none;
    margin: auto;
}